<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Error</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1>Booking submitted</a></h1>
        </header>
        <main>
          Thank you! Your booking has been received and the owner has been notified
        </main>
        <footer>
        <br>
          <a href= '/' >Home</a>
        </footer>
    </body>
</html>