<label for="start">Start Date:</label>

<input type="date" id="start" name="trip-start"
       value="2022-10-12"
       min="2022-10-12" max="2023-12-31"> <br> <br>

<label for="end">End Date:</label>

<input type="date" id="start" name="trip_end"
       value="2022-10-12"
       min="2022-10-12" max="2023-12-31">
