<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Booking Error</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
          <h1>Sorry!</a></h1>
        </header>
        <main>
          There seems to have been an error and we couldn't create your listing. Please click the link below to try again.
        </main>
        <a href= '/' >Home</a>
        <footer>
        <br>
          <a href= '/add_space' >Add space</a>
        </footer>
    </body>
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fknowyourmeme.com%2Fmemes%2Fconfused-john-cena&psig=AOvVaw35I0gguDT_3V1q-tf0isM8&ust=1665830771007000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIj906rF3_oCFQAAAAAdAAAAABAE" 
     ></img>
    <img
      src="https://i.kym-cdn.com/entries/icons/facebook/000/030/850/dmitry.jpg"
    ></img>
</html>