<!DOCTYPE html>
<html>
    <head>
    <article> 
        <%= @active_user%>
    </article>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
    </head>
    <body>
        <h1>Welcome to Ruffhouses™</h1>
    </body>
</html>

<img
     src="https://thumbs.dreamstime.com/b/miami-mansion-14466936.jpg" 
     ></img>