<!DOCTYPE html>
<head>
<style>
    body {
      background-color: #FFFFFF;
      font-family: "Courier New", Courier, monospace;
      text-align: center;
      }
    h1   {color: 3e4444;}
    p    {color: 3e4444;} 

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      }
    
    li {
      float: right;  
      }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 28px;
      text-decoration: none;
      }

    li a:hover:not(.active) {
      background-color: #C0C0C0;
      }

    .active {
      background-color: #C0C0C0;
      }

    .username{
      float: right;
      }
</style>
<link rel="stylesheet" href="/style.css" >
</head>

<body>
<% if login? %>
  <ul>
    <li ><a href="/logout">Log out</a></li>
    <li ><a href="/spaces">Space</a></li>
    <li><a href= "/spaces/new"> Advertise a space</a></li>
    <li><a href= "/">Home</a></li>
  </ul>

  <div class="username"> 
    Hello, <%= @user[:username] %>
  </div>
<% else %>
  <ul>
    <li><a href= "/">Home</a></li>
    <li><a href="/spaces">Space</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign up</a></li>
  </ul> 
<% end %>
</body>
<%= yield %>
</html>