<!DOCTYPE html>
<head>
<style>
    body {
      background-color: #D9FEF6;
      font-family: "Courier New", Courier, monospace;
      }
    h1   {color: 3e4444;}
    p    {color: 3e4444;} 

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
    }
    
    li {
      float: left;  
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 24px 30px;
      text-decoration: none;
    }

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #FFFFFF;
}
</style>
<link rel="stylesheet" href="/style.css" >
</head>

<% if login? %>
  <ul>
    <li ><a href="/logout">Log out</a></li>
    <li ><a href="/spaces">Space</a></li>
    <li><a href= "/spaces/new"> Advertise a space</a></li>
    <li><a href= "/">Home</a></li>
  </ul>

  <div> 
    Hello, <%= @user[:username] %>
  </div>
<% else %>
<div> 
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/spaces">Space</a></li>
    <li><a href= "/">Home</a></li>
  </ul>
  There's nobody logged in! 
</div> 
<% end %>

<%= yield %>
</html>