<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Login_error</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1>Login Error</a></h1>
        </header>
        <main>
          Please check your email or password
        </main>
        <footer>
          <a href= '/login' >Login</a>
        </footer>
    </body>
</html>