<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Error</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
  </head>

  <body>
    <header>
      <h1>Please check: </h1>
    </header>
    <main>
      <% @space.errors.full_messages.each do |error| %> 
        <%= error %><br />
      <% end  %>
    </main>
  </body>
   <img
     src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fknowyourmeme.com%2Fmemes%2Fconfused-john-cena&psig=AOvVaw35I0gguDT_3V1q-tf0isM8&ust=1665830771007000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIj906rF3_oCFQAAAAAdAAAAABAE" 
     ></img>
<img
    src="https://i.kym-cdn.com/entries/icons/facebook/000/030/850/dmitry.jpg"
    ></img>
</html>