<!doctype html>
<html lang='en'>
    
  <head>
    <meta charset='utf-8'>
    <title>Booking Submitted</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
    
  <body>
    <header>
      <h1>Request submitted</a></h1>
    </header>
    <main>
      Thank you! Your request has been received and the owner has been notified
    </main>
  </body>
</html>