<!DOCTYPE html>
<html>
    <head>
    <style>
        body {background-color: #878f99;}
        h1   {color: 3e4444;}
        p    {color: 3e4444;} 
        p {font-style: italic;}
    </style>
        <title>Add Space</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1><%= @space.space_name %></h1>
        <p><%= @space.description %></p>
        <p><%= @space.price_per_night %></p>
        
    </body>
</html>